<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>vue todolist</title>
    <script src="lib/vue.js"></script>
</head>

<body>
    <!-- vue挂载的template -->
    <div id="root">
        <input v-model="inputValue" />
        <button @click="onSubmit">提交</button>
        <!-- 定义一个content数据绑定一个表达式item  传入到组件   组件通过props中定义接受的数据字段content  然后在template中则可以使用改数据字段 -->
        <!-- 侦听子组件触发的delete时间  定义一个handleDelete执行操作  handleDelete是在父组件的template中 所以handleDelete在父组件的methods中定义该方法 -->
        <todo-item v-for="(item,index) of list" :key="index" :content="item" :index="index" @delete="handleDelete"></todo-item>
    </div>

    <script>
        //每一个组件 都是一个vue实例  每个vue实例 都是一个组件   都有data methods computed watch等属性
        // 全局组件设置
        Vue.component("todo-item", {
                template: '<li @click="handleClick">{{content}}</li>',
                props: ['content', 'index'],
                methods: {
                    handleClick: function() {
                        this.$emit("delete", this.index); //this.index 指向 props接受的index
                    }
                }
            })
            //局部组件
            // var todoItem = {
            // 	template: '<li @click="handleClick">{{content}}</li>',
            // 	props:['content','index'],
            // 	methods:{
            // 		handleClick:function(){
            // 			alert("aaa");
            // 		}
            // 	}
            // }

        //vue实例
        var vm = new Vue({
            el: "#root",
            data: {
                inputValue: '',
                list: []
            },
            // components: {
            // 	"todoItem": todoItem, //局部组件  可以用驼峰命名  div标签中使用的时候用todo-item 会自动识别
            // 	// "todo-item":todoItem  //局部组件  
            // },
            methods: {
                onSubmit: function() {
                    if (this.inputValue != "") {
                        this.list.push(this.inputValue);
                        this.inputValue = '';
                    } else {
                        alert("请在输入框内输入内容");
                    }
                },
                handleDelete: function(index) {
                    // alert(index);
                    this.list.splice(index, 1);
                }
            }
        })
    </script>
</body>

</html>