<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue hello</title>
    <script type="text/javascript" src="././lib/vue.js"></script>
</head>

<body>
    <div id="root">
        <h1>hello world {{name}} address{{address}}</h1>
        <h2 v-if="isActive">bbbb</h2>
        <ul>
            <li v-for="(item,index) in list" :key="item.id">
                {{item.name}}---{{index}}
            </li>
        </ul>
        <ul>
            <li v-for="(value,key,index) in obj" :key="index">
                {{key}}---- {{value}}----{{index}}
            </li>
        </ul>
        <div v-for="(item,index) in filterNums" :key="index">
            数字：{{item}}
        </div>

        <button v-on:click="count+=1">Add</button>
        <div>{{count}}</div>
        <button v-on:click="calCount2">Add</button>
        <div>{{count2}}</div>
        <button v-on:click.once="calCount3($event,'mymessage')">Add</button>
        <input v-on:keyup.enter="enterClick">
        <input v-on:keyup.alt.67="enterClick2">
        <div>Base</div>
        <input type="text" v-model='message' placeholder="请输入文字">
        <h1>你输入的内容是：{{message}}</h1>
        <input type="checkbox" id="checkbox" v-model="checked">
        <label for="checkbox">{{checked}}</label>
        <div>-----------------------------------------</div>
        <input type="checkbox" id="first" value="111" v-model="checkedNames">
        <label for="first">First</label>
        <input type="checkbox" id="second" value="222" v-model="checkedNames">
        <label for="second">Second</label>
        <input type="checkbox" id="third" value="333" v-model="checkedNames">
        <label for="third">Third</label>
        <br>
        <span>checkNames:{{checkedNames}}</span>
        <div>---------------------单选-------------------</div>
        <input type="radio" id="one" value="1" v-model="radioValue">
        <label for="one">选项1</label>
        <input type="radio" id="two" value="2" v-model="radioValue">
        <label for="two">选项2</label>
        <br>
        <span>radio 选择的值是：{{radioValue}}</span>
        <div>---------------select-----------------</div>
        <select name="select" id="s1" v-model="seleted">
            <option v-for="(item, index) in selectOption" :key="index" :value="item.value">{{item.text}}</option>
        </select>
        <span>Selected: {{ seleted }}</span>

        <br>
        <!-- 添加 lazy 修饰符，从而转为在 change 事件_之后_进行同步： -->
        <input v-model.lazy="msg">
        <span>输入内容{{msg}}</span>

        <br>
        <!-- 自动将用户的输入值转为数值类型 -->
        <input v-model.number="age" type="number">
        <span>输入年龄{{age}}</span>

        <br>
        <!-- 自动过滤用户输入的首尾空白字符 -->
        <input type="text" v-model.trim="msg2">
        <span>输入内容:{{msg2}}</span>

        <br>
        <button-count></button-count>
        <button-count></button-count>

        <br>
        <blog-post v-for="(item, index) in blogDatas" :key="item.id" :blog="item"></blog-post>

        <num-change v-on:dis-num-change="onNumChange"></num-change>

        <alert-box>fagg</alert-box>
        <!-- <a v-on:[eventName]="doSomething"></a>
        <a v-on:focus="doSomething"></a>
        <form v-on:submit.prevent="onSubmit"></form> -->
        <!-- <div :style="styleObject" :class="classObject"></div> -->
    </div>
    <script type="text/javascript">
        Vue.config.productionTip = false
        Vue.component("button-count", {
            data: function() {
                return {
                    count: 0
                }
            },
            template: '<button v-on:click="countAdd">you click me {{count}}</button>',
            methods: {
                countAdd: function() {
                    return this.count++;
                }
            }
        })
        Vue.component("blog-post", {
            props: ["blog"],
            template: '<h2>title内容是{{blog.title}}</h2>'
        })

        Vue.component("num-change", {
            template: `
            <button v-on:click="emitNumChange">按钮</button>
            `,
            methods: {
                emitNumChange: function() {
                    // <button v-on:click="$emit('dis-num-change', 3)">按钮</button>
                    this.$emit("dis-num-change", 2)
                }
            }
        })

        Vue.component("alert-box", {
            template: `
    <div class="demo-alert-box">
      <strong>Error!</strong>
      <slot></slot>
    </div>
  `
        })

        const vm = new Vue({
            el: "#root",
            // data: function() {
            //         return {
            //             name: "aaaa"
            //         }
            //     }
            data() {
                return {
                    name: "aaa",
                    address: "bbb",
                    eventName: "focus",
                    firstName: "bb",
                    secondeName: "cc",
                    isActive: false,
                    count: 1,
                    count2: 1,
                    message: "",
                    radioValue: "",
                    msg: "",
                    msg2: "",
                    age: 1,
                    checked: false,
                    checkedNames: [],
                    seleted: "1",
                    classObject: {
                        active: true
                    },
                    styleObject: {
                        color: "red"
                    },
                    list: [{
                        id: 1,
                        name: "1111"
                    }, {
                        id: 2,
                        name: "2222"
                    }, {
                        id: 3,
                        name: "3333"
                    }, ],
                    obj: {
                        title: "ab",
                        desc: "bbb"
                    },
                    nums: [5, 9, 10, 1, 2, 4],
                    selectOption: [{
                        text: "等级",
                        value: 1
                    }, {
                        text: "星级",
                        value: 2
                    }, {
                        text: "战斗力",
                        value: 3
                    }],
                    blogDatas: [{
                        id: "b1",
                        title: "blog1"
                    }, {
                        id: "b2",
                        title: "blog2"
                    }, {
                        id: "b3",
                        title: "blog3"
                    }, ]
                }
            },
            computed: {
                totalName: {
                    get: function() {
                        return this.firstName + this.secondeName
                    },
                    set: function(value) {
                        this.firstName = value;
                        this.secondeName = value;
                    }
                },
                filterNums: function() {
                    const numArr = this.nums.filter(function(num) {
                        return num % 2 == 0
                    })
                    numArr.sort(function(a, b) {
                        return a - b;
                    })
                    return numArr;
                }
            }
            // data: {
            //     name: "aaa"
            // }
            ,
            methods: {
                calCount2: function(event) {
                    if (event) {
                        console.log(event)
                    }
                    return this.count2++;
                },
                calCount3: function(event, msg) {
                    if (event) {
                        console.log(event)
                        console.log(msg)
                    }
                },
                enterClick: function() {
                    alert("enter")
                },
                enterClick2: function() {
                    alert("enter1")
                },
                onNumChange: function(num) {
                    console.log("onNumChange--" + num)
                }
            }
        })
    </script>
</body>

</html>

</html>

</html>

</html>